{% load staticfiles %}

        <!-- footer content -->

        <!--<footer>-->
          <!--<div class="copyright-info">-->
            <!--<p class="pull-right">Powered by <a href="https://www.cicksoft.com.pk">Clicksoft Pvt Ltd </a>-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="clearfix"></div>-->
        <!--</footer>-->
        <!--&lt;!&ndash; /footer content &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; /page content &ndash;&gt;-->

    <!--</div>-->

  <!--</div>-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- gauge js -->
  <script type="text/javascript" src="{% static 'js/gauge/gauge.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/gauge/gauge_demo.js' %}"></script>
  <!-- bootstrap progress js -->
  <script src="{% static 'js/progressbar/bootstrap-progressbar.min.js' %}"></script>
  <script src="{% static 'js/nicescroll/jquery.nicescroll.min.js' %}"></script>
  <!-- icheck -->
  <script src="{% static 'js/icheck/icheck.min.js' %}"></script>
  <!-- daterangepicker -->
  <script type="text/javascript" src="{% static 'js/moment/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
  <!-- chart js -->
  <script src="{% static 'js/chartjs/chart.min.js' %}"></script>

  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/dropzone/dropzone.js' %}"></script>
  <!-- pace -->
  <script src="{% static 'js/pace/pace.min.js' %}"></script>
  <!-- flot js -->
  <!--[if lte IE 8]>
  <script type="text/javascript" src="{% static 'js/excanvas.min.js' %}"></script><![endif]-->
  <script type="text/javascript" src="{% static 'js/flot/jquery.flot.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/flot/jquery.flot.orderBars.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/flot/jquery.flot.time.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/flot/date.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/flot/jquery.flot.spline.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/flot/jquery.flot.stack.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/flot/curvedLines.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>


