<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">

{% include 'head.html' %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {% include 'navbar.html' %}

    <div class="content-wrapper">
        <div class="container body">
            <div class="main_container">


                <div class="right_col" role="main">
                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">

                        </div>
                    </div>
                </div>


                <!--</div>-->
                <!--&lt;!&ndash; /page content &ndash;&gt;-->
                <!--</div>-->
                {% include 'table.html' %}
            </div>
        </div>

    </div>
</div>

</div>
</body>


{% include 'footer.html' %}

</html>