<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th><label for="id_net_amt">Total Amount:</label></th>
        <td><div class="form-control"></div></td>
        <td><input align="right" blank="True" class="form-control" id="id_net_amt" name="net_amt" null="True"
                   placeholder="" required="False" type="text"/><input id="id_voucher_id" maxlength="10"
                                                                       name="voucher_id" type="hidden" value="0004"/>
        </td>
    </tr>

</table>


</body>
</html>