<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">

{% include 'head.html' %}
<body>

 {% static "" as baseUrl %}



<form action="/your-name/" method="post">
    {% csrf_token %}
    <label for="your_name">Your name: </label><input id="your_name" type="hidden" name="your_name" value="asset-bill">

    <input type="submit" value="Submit" />
</form>
<!--<form action="new_user" method="post">{% csrf_token %}-->
 <!--<input type="text" name="first_name">-->
 <!--<input type="submit" value="submit">-->

<!--</form>-->

</body>
{% include 'footer.html' %}
</html>